static/ssp-ls-traceability/1.0.0/DTMD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1"
    xmlns:dtmd="http://ssp-standard.org/SSPTraceability1/DecisionTaskMetaData"
    xmlns:stc="http://ssp-standard.org/SSPTraceability1/SSPTraceabilityCommon"
    xmlns:ssc="http://ssp-standard.org/SSP1/SystemStructureCommon"
    targetNamespace="http://ssp-standard.org/SSPTraceability1/DecisionTaskMetaData"
    elementFormDefault="qualified">

    <xs:import namespace="http://ssp-standard.org/SSP1/SystemStructureCommon" schemaLocation="ssp-standard/schema/SystemStructureCommon.xsd"/>
    <xs:import namespace="http://ssp-standard.org/SSPTraceability1/SSPTraceabilityCommon" schemaLocation="STC.xsd"/>

    <xs:element name="DecisionTaskMetaData">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                This element specifies the structure of the Credible Decision Process.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="GeneralInformation" type="stc:GeneralInformationType" minOccurs="0"/>
                <xs:element name="AnalysisPhase" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            This element specifies the Analysis Phase of the overall decision task.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="AnalyzeDecisionTask" type="stc:StepType" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                        In this step the necessary information required for the execution of this
                                        decision task is determined and provided from the overall product
                                        development process.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="VerifyAnalysis" type="stc:StepType" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                        In this step the outputs and credibility documentation of the phase are
                                        verified and the result is documented.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:group ref="stc:GPhaseCommon"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="ssc:ABaseElement"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="DefinitionPhase" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            This element specifies the Definition Phase of the overall decision task,
                            where the individual sub-tasks to be performed are defined.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="DefineSubTasks" type="stc:StepType" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                        In this step the development or test strategy is defined. This means
                                        that a set of individual sub-tasks is defined, from their individual
                                        results an overall evaluation can be made.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="DefineResultQuality" type="stc:StepType" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                        In this step the expected result quality of the sub-tasks to be
                                        performed is defined.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="VerifySubTasks" type="stc:StepType" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                        In this step the outputs and credibility documentation of the phase are
                                        verified and the result is documented.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:group ref="stc:GPhaseCommon"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="ssc:ABaseElement"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ExecutionPhase" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            This element specifies the Performance Phase of the overall decision task.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="PerformSubTasks" type="stc:StepType" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                        In this step all sub-tasks are performed and the output according to
                                        the simulation objectives and confidence is provided.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:group ref="stc:GPhaseCommon"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="ssc:ABaseElement"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="EvaluationPhase" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            This element specifies the Evaluation Phase of the overall decision task.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="EvaluateResults" type="stc:StepType" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                        In this step an overall evaluation regarding the requirements from the
                                        decision task is carried out based on the individual results.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="AssureResultQuality" type="stc:StepType" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                        In this step quality assurance for the decision task and result is
                                        performed. Quality information about the respective sub-tasks is
                                        provided, according to the criticality of the decision of the
                                        overall decision task.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="DeriveResultQualityVerdict" type="stc:StepType" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                        In this step an assessment of the quality of the decision task and
                                        result is carried out.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:group ref="stc:GPhaseCommon"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="ssc:ABaseElement"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="FulfillmentPhase" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            This element specifies the Fulfillment Phase of the overall decision task.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="DecideObjectiveFulfillment" type="stc:StepType" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                        In this step the decision is made whether the requirements and
                                        objectives of the decision task have been fulfilled.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:group ref="stc:GPhaseCommon"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="ssc:ABaseElement"/>
                    </xs:complexType>
                </xs:element>
                <xs:group ref="stc:GElementCommon"/>
            </xs:sequence>
            <xs:attribute name="version" use="required">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Version of DTMD format, 1.0.0 for this release.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:normalizedString">
                        <xs:pattern value="[0-9]+[.][0-9]+([.][0-9]+)?(-.*)?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="name" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        This attribute gives the decision task a name, which can be used
                        for purposes of presenting the decision task to the user, e.g.
                        when selecting individual variant DTMDs from an SSP.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attributeGroup ref="ssc:ABaseElement"/>
            <xs:attributeGroup ref="ssc:ATopLevelMetaData"/>
            <xs:attribute name="GUID" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        GUID identifier of this DTMD file. Must be globally unique and MUST
                        change, whenever a new file with differing information is written.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>
